@import './globals.scss';

main, div {
  max-width: 1080px;
  margin: 0 auto;
}

.week-selection, .vacation-selection {
  button {
    background-color: black;
    color: white;
    border: none;
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    margin: 0.3rem;
    cursor: pointer;

    &:hover {
      background-color: lightgrey;
      color: black;
    }

    &:focus {
      background-color: lightgrey;
      color: black;
    }
  }
}

.flexbox form, .flexbox .divwrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  label {
    margin: 0.3rem;
    font-size: 12px;
  }
}

.lunch-table, .employee-table {

  width: 100%;
  text-align: center;

  table {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 1rem auto;

    th {
      background-color: black;
      color: white;
      padding: 0.5rem;
      width: 20rem;
    }

    td {
      border: 1px solid black;
      padding: 0.5rem;
    }

    a {
      color: black;
    }
  }

  .export-to-excel-button, .return-to-week-selection-button {

    width: 20%;
    text-align: center;
  
    background-color: black;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 12px;
    cursor: pointer;
  
    &:hover {
      background-color: lightgrey;
      color: black;
    }
  
    &:focus {
      background-color: lightgrey;
      color: black;
    }
  }
}


.days {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
}
.daysGray {
  background: #f2f2f2;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
}

// fant en tilfeldig nav styling på nettet: https://codepen.io/WhisnuYs/pen/XWdpdGP
nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 4rem;

  a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 100px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    color: #fddb3a;
  }
  
}
.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
  flex-direction: row;
  .divtop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
  }
}
h2, h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
  margin: 0.5rem;
  padding: 0.5rem;
  color: black;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: black;
  }
}

h3 {
  font-size: 1.2rem;
}

.rulesDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0.5rem;
  padding: 0.5rem;
  color: black;
  font-size: 1.5rem;
  div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    p {
      margin: 1rem;
      padding: 1rem;
    }
  }
  }

form {
  text-align: center;
}
.changeEmployee select {
  float: right;
  
}