@import './globals.scss';

main {
  max-width: 1080px;
  margin: 0 auto;
}

.multi-button {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  button {
    background: white;
    border: 0.125em solid black;
    cursor: pointer;
    font: 600 1.5rem/1.25 'Montserrat', sans-serif;
    width: 6.6%;
    letter-spacing: 0.125em;
    margin: 0.5rem;
    padding: 0.5em 0.75em;
    position: relative;
    text-transform: uppercase;
  }
  button:hover {
    background: black;
    color: white;
  }
}
.days {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
}
.daysGray {
  background: #f2f2f2;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
}
