@import './globals.scss';

main {
  max-width: 1080px;
  margin: 0 auto;
}

.week-selection {
  button {
    background-color: black;
    color: white;
    border: none;
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    margin: 0.3rem;
    cursor: pointer;

    &:hover {
      background-color: lightgrey;
      color: black;
    }

    &:focus {
      background-color: lightgrey;
      color: black;
    }
  }
}

.lunch-table {


  table {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 1rem 0;

    th {
      background-color: black;
      color: white;
      padding: 0.5rem;
      width: 20rem;
    }

    td {
      border: 1px solid black;
      padding: 0.5rem;
    }
  }
}


.days {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
}
.daysGray {
  background: #f2f2f2;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
}
